<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<connectionStrings>
		<add name="ACSSAuth.DataAccess.Properties.Settings.CSSConnectionString"
        connectionString="Server=localhost;Database=CSS_CleanupTest;Trusted_Connection=True;"
        providerName="System.Data.SqlClient" />
	</connectionStrings>


	<appSettings file="appSettings.config">
		<add key="TestRoot" value="C:\Source\Allegiance\CSS\Tests\ACSSAuth.ServerTest\"/>

		<add key="gameTestDataDirectory" value="..\..\..\Tests\ACSSAuth.ServerTest\TestData"/>

	</appSettings>
	
</configuration>